{% capture before %}{{ include.item.link | split: "://" | first }}{% endcapture %}
{% capture after %}{{ include.item.link | split: "://" | last }}{% endcapture %}
{% assign internal = true %}
{% if before != after %}
  {% if before == "http" or before == "https" %}
    {% assign internal = false %}
  {% endif %}
{% endif %}

{% if internal %}
  {% capture url %}{{ site.baseurl }}/{{ include.item.link }}{% endcapture %}
{% else %}
  {% capture url %}{{ include.item.link }}{% endcapture %}
{% endif %}

<a href="{{ url }}">{{ include.item.name }}</a>
